#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}






.container{
  position: relative;
}
#color{
  color: white;
}
body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 50px;
  /* background-color: #f4f4f4; */
}

.container {
  max-width: 400px;
  margin: 0 auto;
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#timer {
  font-size: 3em;
  margin-bottom: 20px;
  color: #3498db;
}

#total-time {
  font-size: 1.5em;
  color: #2ecc71;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  color: #333;
  font-size: 1.2em;
}

li::before {
  content: '\2022';
  color: #3498db;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.progress-bar {
  height: 20px;
  background-color: #2ecc71;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 8px 8px;
}